body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/images/background.jpg") no-repeat center center;
  background-size: cover;
}

#game-container {
  width: 400px;
  height: 600px;
  border: 4px solid #333;
  background: rgba(255,255,255,0.8);
  position: relative;
  overflow: hidden;
}
